body {
    font-family: 'Titillium Web', sans-serif;    
}

h1 { font-size: 66px; font-weight: 600; line-height: 80px; color: #999999;}

p {
    font-size: 18px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}
.navbar {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link { color: lavender;}
.nav-link:hover { color: lightslategray;}

.logo-brand {
    min-width: 160px;
    max-width: 180px;
}

.navbar-toggler { font: 40px;}
.navbar-toggler:focus { outline: none;}

#hero {
    background-image: url('media/hero1.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 300px;
    color: rgb(255, 255, 255);  
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}
